// COLOR
$belkaBlack: #1a1a1a;
$belkaBlue: #0049fa;
$belkaCream: #f5f5f0;
$belkaCustom⚠DarkCream: #edede3;
$belkaCustom⚠DarkPurple: #50196d;
$belkaCustom⚠DarkTurquoise: #186e72;
$belkaGray: #e5e5e1;
$belkaHoney: #f9be37;
$belkaLemon: #ffdc60;
$belkaMagenta: #ff2995;
$belkaOrange: #f4611e;
$belkaPink: #f979a4;
$belkaPurple: #8d48ac;
$belkaRose: #ffaeaa;
$belkaTeal: #0d99a7;
$belkaTurquoise: #1ab6bd;
$belkaViolet: #711f97;
$belkaWhite: #ffffff;
